<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
{{> /include/header}}
</head>
<body>
{{> /include/navigation}}
	<div class="container">
		<table class="table">
			<thead>
				<tr>
					<th>아이디</th>
					<th>이름</th>
					<th>이메일</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#users}}
				<tr>
					<td>{{userId}}</td>
					<td>{{userName}}</td>
					<td>{{userEmail}}</td>
					<td><a href="/users/{{Id}}/form" role="button" class="btn btn-success">수정</a></td>
				</tr>
				{{/users}}
			</tbody>
		</table>
	</div>
{{> /include/footer}}
</body>
</html>